@font-face {
    font-family: Rand_Bold;
    src: url("fonts/Rand-Bold.woff2") format("woff2");
}

@font-face {
    font-family: Rand_Medium;
    src: url("fonts/Rand-Medium.woff2") format("woff2");
}

html,
body {
    font-family: Rand_Bold, Helvetica, 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 16px;
    background-color: black;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main *,
main *:before,
main *:after {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}

/* Placeholder color consistency */

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox lowers the opacity by default */
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

/* Focus outline removal for accessibility; use with caution */

:focus {
    outline: none;
}

[contenteditable]:focus {
    outline: none;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: black;
}

[placeholder]:empty:focus::before {
    content: "";
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus {
    outline: none;
}

canvas {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: block;
    margin-bottom: 5px;
}

#header,
#footer {
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 11px 15px;
    background-color: transparent;
    mix-blend-mode: difference;
}

#header {
    top: 0;
    color: white;
}

#header span {
    /* margin-left: 10px; */
    position: absolute;
    left: 50%;
    margin-left: 10px;
}

#footer {
    bottom: 0;
    color: #3e3e3e;
}

.dg * {
    font-family: Rand_Medium !important;
    border-color: #3e3e3e !important;
}

.dg.ac {
    z-index: 1100 !important;
    /* top: 38px !important; */
}

.dg ul .title,
.dg ul .cr {
    background-color: rgba(0, 0, 0, 0.7) !important;
}